*{
    margin: 0;
    padding: 0;
    font-family: orbitron;
    background: linear-gradient(145deg, #8dfcf5, #e66dee);
    background-color: black;
}




.clock{
    position: absolute;
    top: 40%;
    left: 35%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
    color: black;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 60px;
    letter-spacing: 8px;
    transition: .3s;
    box-shadow: 5px 5px 5px whitesmoke;
}

.clock:hover{
    transform: scale(1.2);
    box-shadow: 10px 10px 10px whitesmoke;
}